{
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.{js,ts}",
      "options": {
        "trailingComma": "es5",
        "singleQuote": true
      }
    }
  ]
}
